# Configuration file

##########################################################################################################
# buttons
#--------------------------------------------------------------------------------------------------------#
# Everything to do with the buttons.
##########################################################################################################

buttons {
    # Add a second button that has a link attached to it. Clicking the button will open the link in the user's default browser.
    B:addLinkButton=true

    # Text to display on the button
    S:continueButtonText=Continue to Game

    # Link to open when button is clicked.
    S:linkButtonLink=http://minecraft.curseforge.com/forums/jadeds-packs

    # Text to display on the button.
    S:linkButtonText=Pack Forums
}


##########################################################################################################
# information
#--------------------------------------------------------------------------------------------------------#
# These are the options for what your GUI says. Change them as you please, but try to keep them short. It won't split lines for you. Leave blank if unused.
##########################################################################################################

information {
    # Title of your GUI. Appears at the top.
    S:guiTitle=Magic Farm 3

    # These are your information info in the GUI
    S:line1= This is a total conversion pack.
    S:line2=Many recipes and functions are different from normal modded minecraft.
    S:line3=
    S:line4=If you got this pack ANYWHERE other than through the CurseVoice Client, your pack may be out of date.
    S:line5=Check the pack website for the current version BEFORE reporting bugs.
    S:line6=
    S:line7=There are custom buttons on the main menu for Guide videos, Wiki and Reporting bugs.
    S:line8=Have fun. Don't Starve.
    S:line9=Jadedcat
}


##########################################################################################################
# internal
#--------------------------------------------------------------------------------------------------------#
# Internally used options.
##########################################################################################################

internal {
    # Whether or not to disable the GUI from showing again after the player presses continue.
    B:disableGuiAfterFirstLaunch=true

    # Whether or not to display the GUI on launch. Should not be touched.
    B:displayGuiOnLaunch=false

    # Requires this mod to load the GUI. To always load no matter what, use a mod that is always installed.
    S:modToFind=launchgui
}


##########################################################################################################
# update
#--------------------------------------------------------------------------------------------------------#
# Information on pack updates.
##########################################################################################################

update {
    # Pack version that the end user is going to be downloading.
    S:currentPackVersion=1.0.24

    # Disables ability to continue to game if an update is available.
    B:disableContinueIfUpdatable=false

    # Enables checking for updates based on a hosted text file.
    B:enableUpdateChecker=false

    # URL to check for an update with.
    S:updateCheckerURL=https://raw.githubusercontent.com/TehNut/LaunchGui/1.7.10/version.txt
}


